/* App styles */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Sarabun', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

/* Sketchfab embed wrapper styles */
.sketchfab-embed-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.sketchfab-embed-wrapper iframe {
  width: 100%;
  height: 100%;
  border: none;
}
